/backuppro/vendor
/backuppro/mithra62
/.settings
/.buildpath
/.project
/backuppro/resources/css
/backuppro/resources/images
/backuppro/resources/js
/craft/plugins/backuppro/vendor
/craft/plugins/backuppro/mithra62
/craft/plugins/backuppro/resources/css
/craft/plugins/backuppro/resources/images
/craft/plugins/backuppro/resources/js
/craft/plugins/backuppro/cli.config.php
